.game-title {
  font-family: "Pokemon-Solid";
  font-size: large;
  background-color: #e0e0e0;
  color: black;
  border: 0.25rem solid black;
  padding-block: 0.25rem;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Pokemon-Solid";
  font-size: medium;
  background-color: #e0e0e0;
  color: black;
  border: 0.25rem solid black;
}

.menu-container {
  display: flex;
  gap: 0.5rem;
  place-items: center;
  justify-content: center;
}

.game-message {
  font-family: "Pokemon-Solid";
  font-size: medium;
  background-color: #e0e0e0;
  color: black;
  border: 0.25rem solid black;
  font-size: medium;
  padding-block: 0.75rem;
  padding-inline: 1rem;
}

.restart-btn {
  font-family: "Pokemon-Solid";
  font-size: medium;
  background-color: #e0e0e0;
  color: black;
  border: 0.25rem solid black;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  cursor: pointer;
}

.restart-btn:active {
  transform: translateY(0.4rem);
}

.restart-btn:hover {
  background-color: #000;
  color: #fff;
}
