.game-title {
  font-family: "Pokemon-Hollow";
  color: dimgray;
  background-color: white;
  border: dimgray solid 0.2rem;
}

.game-message {
  font-family: "Pokemon-Hollow";
  color: red;
  padding-block: 0.25rem;
  background-color: white;
  border: red dotted 0.5rem;
}

.restart-btn {
  font-family: "Pokemon-Solid";
  font-size: larger;
  background-color: white;
  color: gold;
  border: gold dotted 0.5rem;
  padding-inline: 1rem;
  cursor: pointer;
}

.restart-btn:active {
  transform: translateY(0.4rem);
}
