.card {
    color: white;
    border: 0.2rem solid black;
    border-radius: 1rem;
    background-color: gray;
    width: 8rem;
    height: 13rem;
    cursor: pointer;
    padding-inline: 1rem;
    transition: 1s ease-out;
}