.card {
    border: 0.25rem white double;
    border-radius: 1rem;
    width: 8rem;
    height: 13rem;
    cursor: pointer;
    padding-inline: 1rem;
    transition: 1s ease-out;
}

.card[data-flipped="true"] {
    transform: rotateY(180deg);
}

.profile-container {
    transform: rotateY(180deg);
}