@font-face {
  font-family: 'Pokemon';
  src: url('../fonts/pokemon/Pokemon\ Hollow.ttf');
}

body {
  font-family: Pokemon;
  background-image: url("../images/pokemon_red_houses.jpg");
  margin: 0;
}

.wrapper {
  max-inline-size: 50%;
  margin: 0 auto;
  text-align: center;
}