body {
  font-family: fantasy;
  background-image: url("../images/pokemon_red_houses.jpg");
  color: white;
  margin: 0;
}

.wrapper {
  max-inline-size: 90%;
  margin: 0 auto;
  text-align: center;
}