@font-face {
  font-family: 'Pokemon';
  src: url('../fonts/pokemon/Pokemon\ Hollow.ttf');
}

body {
  font-family: fantasy;
  background-image: url("../images/pokemon_red_houses.jpg");
  margin: 0;
}

.wrapper {
  max-inline-size: 90%;
  margin: 0 auto;
  text-align: center;
}

.game-title {
  font-family: Pokemon;
  color: dimgray;
  background-color: white;
  border: dimgray solid 0.2rem;
}